#Mac OS Files
.DS_Store

#Other
clreq.pbs
scrap.ipynb
wandbkey.txt
distributed_training/config_vsc.yml
distributed_training/config.yml
CLRECR_FL_SummarySlides.pptx


#Data Folders
eICU_Data/
wandb/
figures/
toy-implementation/
ICML/
IJCNN/
